.houseDetail .hotelDetailList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.5rem;
}
.houseDetail .hotelDetailList .hotelDetailItem {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.houseDetail .hotelDetailList .hotelDetailItem .icon {
  margin: 0 auto;
  margin-bottom: 0.1rem;
}
.houseDetail .hotelDetailList .hotelDetailItem .icon.icon1 {
  background: url("../img/hotelIcon/hotelIcon_houseNum.png") center center no-repeat;
  background-size: contain;
  height: 0.46rem;
  width: 0.36rem;
}
.houseDetail .hotelDetailList .hotelDetailItem .icon.icon2 {
  background: url("../img/hotelIcon/hotelIcon_area.png") center center no-repeat;
  background-size: contain;
  width: 0.40rem;
  height: 0.40rem;
}
.houseDetail .hotelDetailList .hotelDetailItem .icon.icon3 {
  background: url("../img/hotelIcon/hotelIcon_peopleNum.png") center center no-repeat;
  background-size: contain;
  height: 0.34rem;
  width: 0.46rem;
}
.houseDetail .hotelDetailList .hotelDetailItem .icon.icon4 {
  background: url("../img/hotelIcon/hotelIcon_wifi.png") center center no-repeat;
  background-size: contain;
  height: 0.34rem;
  width: 0.46rem;
}
.houseDetail .hotelDetailList .hotelDetailItem .icon.icon5 {
  background: url("../img/hotelIcon/hotelIcon_bed.png") center center no-repeat;
  background-size: contain;
  height: 0.42rem;
  width: 0.46rem;
}
.houseDetail .hotelDetailList .hotelDetailItem .text {
  text-align: center;
  font-size: 0.22rem;
  line-height: 0.4rem;
  color: #797979;
}
.hotelReserve .chooseDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 1.4rem;
  padding: 0 .24rem;
  text-align: center;
  font-size: 0.24rem;
  color: #797979;
  border-bottom: 1px solid #ebebeb;
}
.hotelReserve .chooseDate .startEndWap .timeDetail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hotelReserve .chooseDate .startEndWap .timeDetail .day {
  font-size: 0.48rem;
  color: #ff7200;
  margin-right: 0.1rem;
}
.hotelReserve .chooseDate .startEndWap .timeDetail .dayDesc {
  font-size: 0.22rem;
}
.hotelReserve .chooseDate .totalTime {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.hotelReserve .chooseDate .totalTime .separationLine {
  height: 0.34rem;
  width: 0;
  border-left: 1px solid #c8c8c8;
  margin: 0 auto 0.2rem;
}
.hotelReserve .toPayWap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: .18rem .24rem .14rem;
  color: #797979;
}
.hotelReserve .toPayWap .payDesc .payTitle {
  font-size: 0.3rem;
  color: #383838;
  line-height: 0.48rem;
}
.hotelReserve .toPayWap .payDesc .payTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.24rem;
  line-height: 0.46rem;
}
.hotelReserve .toPayWap .payDesc .payTags .tag {
  margin-right: .2rem;
}
.hotelReserve .toPayWap .payDesc .payTags .tag:last-child {
  margin-right: 0;
}
.hotelReserve .toPayWap .payPrice .noPayDay {
  font-size: 0.22rem;
  line-height: 0.28rem;
  margin-bottom: 0.1rem;
  text-align: right;
}
.hotelReserve .toPayWap .payPrice .toPay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hotelReserve .toPayWap .payPrice .toPay .payPrice {
  font-size: 0.36rem;
  color: #ff7200;
  margin-right: .18rem;
  line-height: .4rem;
}
.hotelReserve .toPayWap .payPrice .toPay .payBtn {
  width: 1.2rem;
  height: .4rem;
  line-height: .4rem;
  text-align: center;
  background-color: #ff7200;
  font-size: .22rem;
  color: #fff;
  border-radius: .06rem;
}
.hotelReserve .toPayWap .payPrice .toPay.disabledPay .payPrice {
  color: #c8c8c8;
}
.hotelReserve .toPayWap .payPrice .toPay.disabledPay .payBtn {
  background-color: #c8c8c8;
}
.datePop {
  display: none;
}
.datePop .popMask {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 5;
}
.datePop .popContent {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.datePop .popContent .popHeader {
  position: relative;
  background-color: #fff;
}
.datePop .popContent .popHeader .dateHint {
  padding: .26rem 0;
  font-size: .3rem;
  text-align: center;
  line-height: .38rem;
}
.datePop .popContent .popHeader .dateSure {
  display: none;
  position: absolute;
  top: .3rem;
  right: .24rem;
  font-size: .26rem;
  color: #ff7200;
}
.datePop .popContent .popHeader .dateWeekNum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: .34rem;
  padding-bottom: .16rem;
  border-bottom: 1px solid #d2d2d2;
}
.datePop .popContent .popHeader .dateWeekNum .dayNum {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}
.datePop .popContent .popHeader .dateWeekNum .dayNum.restDay {
  color: #ff7200;
}
.datePop .popContent .popBody {
  max-height: 8rem;
  overflow: auto;
}
.datePop .popContent .popBody .mouthWrap {
  width: 100%;
  text-align: center;
  background-color: #fff;
  margin-bottom: .2rem;
}
.datePop .popContent .popBody .mouthWrap:last-child {
  margin-bottom: 0;
}
.datePop .popContent .popBody .mouthWrap .monthTitle {
  height: 0.7rem;
  line-height: .7rem;
  border-bottom: 1px solid #ebebeb;
  font-size: .3rem;
  background-color: #fff;
}
.datePop .popContent .popBody .mouthWrap tr {
  height: 1.08rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.datePop .popContent .popBody .mouthWrap tr td {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.datePop .popContent .popBody .mouthWrap tr td .aligning {
  margin: 0 auto;
}
.datePop .popContent .popBody .mouthWrap tr td.roomful .monthDay,
.datePop .popContent .popBody .mouthWrap tr td.roomful .monthPrice {
  color: #c9c9c9;
}
.datePop .popContent .popBody .mouthWrap tr td.chooseStart,
.datePop .popContent .popBody .mouthWrap tr td.chooseEnd {
  background-color: #ff7200;
  border-radius: .06rem;
}
.datePop .popContent .popBody .mouthWrap tr td.chooseStart .monthDay,
.datePop .popContent .popBody .mouthWrap tr td.chooseEnd .monthDay,
.datePop .popContent .popBody .mouthWrap tr td.chooseStart .monthPrice,
.datePop .popContent .popBody .mouthWrap tr td.chooseEnd .monthPrice {
  color: #fff;
}
.datePop .popContent .popBody .mouthWrap tr td .monthDay {
  font-size: .26rem;
}
.datePop .popContent .popBody .mouthWrap tr td .monthPrice {
  font-size: .22rem;
  color: #ffb464;
}
